openapi: 3.0.1
info:
  title: Account-API.v1
  version: '1.0'
  description: APIs for account microservice
servers:
  - url: 'https://api.affinitylabstest.com/{basePath}'
    variables:
      basePath:
        default: account
paths:
  '/client/future-account/{accountNumber}/certificate':
    get:
      operationId: getInvestmnentCertificate
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentCertificate'
        '400':
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/future-account/{accountNumber}/certificate'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountNumber: method.request.path.accountNumber
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  '/backoffice/future-account/{accountNumber}/certificate':
    get:
      operationId: backofficeDownloadInvestmnentCertificate
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentCertificate'
        '400':
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/future-account/{accountNumber}/certificate'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountNumber: method.request.path.accountNumber
        passthroughBehavior: when_no_match
        type: http_proxy
      description: ''
      tags:
        - backoffice
    options:
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    parameters:
      - schema:
          type: string
        name: accountNumber
        in: path
        required: true
  /client/future-account/investment-rates:
    get:
      operationId: futureAccountInvestmentRates
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfInvestmentRate'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/future-account/investment-rates'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  /backoffice/cron/pending-approvals:
    get:
      operationId: cronPendingApproval
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfAccountPendingApprovalBackOfficeApp'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/cron/pending-approvals'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
      tags:
        - backoffice
  '/backoffice/passbase/identities/{identityId}/resources/{resourceId}':
    get:
      tags:
        - backoffice
      operationId: backofficePassbaseGetIdentityByResourceIDandIdentityID
      parameters:
        - name: identityId
          in: path
          required: true
          schema:
            type: string
        - name: resourceId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/passbase/identities/{identityId}/resources/{resourceId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.resourceId: method.request.path.resourceId
          integration.request.path.identityId: method.request.path.identityId
        passthroughBehavior: when_no_match
        type: http_proxy
  /backoffice/generate-certificates:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    get:
      tags:
        - backoffice
      operationId: backofficeGenerateInvestmentCertficates
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/generate-certificates'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  /backoffice/cron/oncreate:
    get:
      tags:
        - backoffice
      operationId: cronOnCreate
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/cron/oncreate'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  /backoffice/cron/process-import:
    get:
      tags:
        - backoffice
      operationId: processImports
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/cron/process-import'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.querystring.startDate: method.request.querystring.startDate
        type: http_proxy
      parameters:
        - schema:
            type: string
          in: query
          name: startDate
    parameters: []
  /client/check-id:
    post:
      operationId: postCheckCustomerId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GviveData'
        required: true
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckIdResponse'
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/client/check-id'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/customer/ekyc/all-data:
    get:
      operationId: clientEkycUpgradeAllData
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EkycUpgradeAllData'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/customer/ekyc/all-data'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/customer/ekyc/employment-data:
    put:
      operationId: clientEkycUpgradeEmploymentData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EkycUpgradeEmploymentData'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
        '400':
          description: 400 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/customer/ekyc/employment-data'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/block-customer/{customerId}':
    options:
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''PATCH,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    patch:
      tags:
        - backoffice
      operationId: blackOfficeBlockCustomer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserBlockingRequest'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
        '404':
          description: 404 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PATCH
        uri: 'https://${stageVariables.albUrl}/account/backoffice/block-customer/{customerId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/client/beneficiary/{beneficiaryId}':
    get:
      operationId: getBeneficiarById
      parameters:
        - name: beneficiaryId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '404':
          description: 404 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/beneficiary/{beneficiaryId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.beneficiaryId: method.request.path.beneficiaryId
        passthroughBehavior: when_no_match
        type: http_proxy
    delete:
      operationId: deleteBeneficiary
      parameters:
        - name: beneficiaryId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: DELETE
        uri: 'https://${stageVariables.albUrl}/account/client/beneficiary/{beneficiaryId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.beneficiaryId: method.request.path.beneficiaryId
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      parameters:
        - name: beneficiaryId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  '/backoffice/passbase/identities/{identityId}':
    get:
      tags:
        - backoffice
      operationId: backofficeGetPassbaseIdentity
      parameters:
        - name: identityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/passbase/identities/{identityId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.identityId: method.request.path.identityId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/client/{accountId}/declaration':
    put:
      operationId: updateCustomerDeclaration
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeclarationStep'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
        '400':
          description: 400 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/{accountId}/declaration'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
  /backoffice/customers:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,DELETE,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    get:
      tags:
        - backoffice
      operationId: backOfficeGetCustomers
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfCustomerResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/customers'
        requestParameters:
          integration.request.querystring.limit: method.request.querystring.limit
          integration.request.path.status: method.request.path.status
          integration.request.querystring.lastId: method.request.querystring.lastId
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
      parameters:
        - schema:
            type: integer
          in: query
          name: limit
          description: Number of records to return. Default is 10
        - schema:
            type: string
          in: query
          name: lastId
          description: Last ID of the previous records returned. This is to retrieve the next page
        - schema:
            type: string
            enum:
              - NEW_USER
              - ACTIVE
              - BLOCKED
              - INACTIVE
          in: query
          name: status
          description: Status of the customer
    delete:
      tags:
        - backoffice
      operationId: delete-backoffice-customers
      parameters:
        - name: p
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
        '400':
          description: 400 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: DELETE
        uri: 'https://${stageVariables.albUrl}/account/backoffice/customers'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.querystring.p: method.request.querystring.p
        passthroughBehavior: when_no_match
        type: http_proxy
  /backoffice/customers-without-accounts:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    get:
      tags:
        - backoffice
      operationId: backOfficeGetCustomersWithoutAccounts
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfCustomerResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/customers-without-accounts'
        requestParameters:
          integration.request.querystring.limit: method.request.querystring.limit
          integration.request.querystring.lastId: method.request.querystring.lastId
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
      parameters:
        - schema:
            type: integer
            default: 25
          in: query
          name: limit
          description: Number of records to return. Default is 25
        - schema:
            type: string
          in: query
          name: lastId
          description: Last ID of the previous records returned. This is to retrieve the next page
    parameters: []
  '/client/upgrade/{customerId}/{accountId}':
    put:
      operationId: upgradeAccount
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/upgrade/{customerId}/{accountId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-AFFINITY-API-KEY,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  /client/customer/ekyc/spouse-data:
    put:
      operationId: clientEkycUpgradeSpouseData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EkycUpgradeSpouseData'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/customer/ekyc/spouse-data'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  /backoffice/pending-approvals:
    get:
      tags:
        - backoffice
      operationId: backofficeGetAllPendingApprovals
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingApprovals'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/pending-approvals'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  '/client/future-account/{accountNumber}/terminate':
    put:
      operationId: clientTermininateFutureAccount
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/future-account/{accountNumber}/terminate'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountNumber: method.request.path.accountNumber
        passthroughBehavior: when_no_match
        type: http_proxy
  /external/ip-check:
    get:
      operationId: ipchecker
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/external/ip-check'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
      security: []
  '/client/future-account/{accountNumber}/rollover':
    put:
      operationId: clientUpdateRolloverOption
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rollover'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
        '400':
          description: 400 response
          content: {}
        '500':
          description: 500 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/future-account/{accountNumber}/rollover'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountNumber: method.request.path.accountNumber
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/documents/{customerId}':
    options:
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    get:
      tags:
        - backoffice
      operationId: backOfficeDocuments
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfCustomerDocumentsResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/transactions/backoffice/documents'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.querystring.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/unblock-customer/{customerId}':
    parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''PATCH,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    patch:
      tags:
        - backoffice
      operationId: backofficeUnblockCustomer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUnblockRequest'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
        '404':
          description: 404 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PATCH
        uri: 'https://${stageVariables.albUrl}/account/backoffice/unblock-customer/{customerId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/customer-blocking-history/{customerId}':
    get:
      tags:
        - backoffice
      operationId: backOfficeCustomerBlockHistory
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerBlockResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/customer-blocking-history/{customerId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/customer/ekyc/proof-of-identity-data:
    put:
      operationId: clientEkycUpgradeProofOfIdentity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EkycUpgradeProofOfIdentityData'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
        '400':
          description: 400 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/customer/ekyc/proof-of-identity-data'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  '/client/{accountId}':
    get:
      operationId: getAccountDetails
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/{accountId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
    put:
      operationId: updateAccountDetails
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/{accountId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,PUT,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  /client/biodata:
    post:
      operationId: createClientBiodata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BiodataStep'
        required: true
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiodataStepResponse'
        '400':
          description: 400 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/client/biodata'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  '/client/profile-picture/{customerId}':
    get:
      operationId: getProfilePicture
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileImageResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/profile-picture/{customerId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
    post:
      operationId: updateUsersProfilePicture
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileImageRequest'
        required: true
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileImageResponse'
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/client/profile-picture/{customerId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  '/client/{accountId}/id-document':
    put:
      operationId: updateClientIdDocument
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdDocumentStep'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
        '400':
          description: 400 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/{accountId}/id-document'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/customers/{customerId}/profile-picture':
    get:
      tags:
        - backoffice
      operationId: getProfilePictureBackoffice
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileImage'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/customers/{customerId}/profile-picture'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/beneficiaries:
    get:
      operationId: getClientbeneficiaries
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfBeneficiary'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/beneficiaries'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
    post:
      operationId: addBeneficary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Beneficiary'
        required: true
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/client/beneficiaries'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  '/client/future-account/{accountNumber}/profile':
    get:
      operationId: getClientFixedDepositProfile
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedDepositProfile'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/future-account/{accountNumber}/profile'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountNumber: method.request.path.accountNumber
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  '/client/withdrawal-limits/{accountId}':
    get:
      operationId: getWithdrawalLimits
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalLimits'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/withdrawal-limits/{accountId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,PATCH,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    patch:
      operationId: updateWithdrawalLimits
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalLimits'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PATCH
        uri: 'https://${stageVariables.albUrl}/account/client/withdrawal-limits/{accountId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/client/{accountId}/permit':
    put:
      operationId: clientUpdatePermitStep
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermitStep'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
        '400':
          description: 400 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/{accountId}/permit'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/customer/ekyc/start-upgrade:
    post:
      operationId: postCleintStartEkycUpgrade
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/client/customer/ekyc/start-upgrade'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/approvals/reject/{accountId}':
    put:
      tags:
        - backoffice
      operationId: backofficeRejectApproval
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
        '404':
          description: 404 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/backoffice/approvals/reject/{accountId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/approvals/{accountId}':
    get:
      tags:
        - backoffice
      operationId: backofficeGetApprovalById
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingApprovalResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/approvals/{accountId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
  /backoffice/ussd/customer:
    get:
      tags:
        - backoffice
      operationId: ussdGetCustomer
      parameters:
        - name: phoneNumber
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDetailResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/ussd/customer'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  /backoffice/index/customers:
    get:
      tags:
        - backoffice
      operationId: indexAllCustomers
      parameters: []
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDetailResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/index/customers'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
      description: Index All customer. to be used as a scheduled job
    parameters: []
  '/client/close/{accountNumber}':
    delete:
      operationId: clientCloseAccount
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: DELETE
        uri: 'https://${stageVariables.albUrl}/account/client/close/{accountNumber}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountNumber: method.request.path.accountNumber
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/ekyc/decline/{customerId}':
    put:
      tags:
        - backoffice
      operationId: backofficeEkycDecline
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuccessResponse'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/backoffice/ekyc/decline/{customerId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/ussd/account/{accountNumber}/available-balance':
    get:
      tags:
        - backoffice
      operationId: ussdGetAvailableBalance
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  availableBalance:
                    type: number
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/ussd/account/{accountNumber}/available-balance'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountNumber: method.request.path.accountNumber
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/customer/ekyc/personal-data:
    put:
      operationId: clientEkyUpgradePersonalData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EkycUpgradePersonalDataRequest'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
        '400':
          description: 400 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/customer/ekyc/personal-data'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/verify-email:
    post:
      operationId: clientVerifyEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationRequest'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/client/verify-email'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/ekyc/approve/{customerId}':
    put:
      tags:
        - backoffice
      operationId: backofficeEkycApprove
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/backoffice/ekyc/approve/{customerId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/current-step:
    get:
      operationId: clientGetAccountCreationStep
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StepResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/current-step'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/customer:
    get:
      operationId: GetCustomerDetails
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDetailResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/customer'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  '/backoffice/approvals/approve/{accountId}':
    put:
      tags:
        - backoffice
      operationId: backofficeApproveAccountByAccountId
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
        '404':
          description: 404 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/backoffice/approvals/approve/{accountId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/notification-settings:
    get:
      operationId: getAccountNotificationSettings
      parameters:
        - name: accountType
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerNotificationSettings'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/notification-settings'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.querystring.accountType: method.request.querystring.accountType
        passthroughBehavior: when_no_match
        type: http_proxy
    put:
      operationId: putNotificationSettingsCustomerId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerNotificationSettings'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/notification-settings'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
    post:
      operationId: postNotificationSettingsCustomerId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerNotificationSettings'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/client/notification-settings'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,PUT,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  /client/customer/ekyc/next-of-kin-data:
    put:
      operationId: clientEkycUpgradeNextOfKinData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EkycUpgradeNextOfKinData'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
        '400':
          description: 400 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/customer/ekyc/next-of-kin-data'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  /backoffice/passbase/identities:
    get:
      tags:
        - backoffice
      operationId: backofficePassbaseGetIdentities
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/passbase/identities'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  '/client/growth-account/{accountNumber}/profile':
    get:
      operationId: getGrowthAccountProfile
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrowthAccountProfile'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/growth-account/{accountNumber}/profile'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountNumber: method.request.path.accountNumber
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  /client/step/klippa-data:
    post:
      operationId: postClientKlippaData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreationKlippaData'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/client/step/klippa-data'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/notification-settings/{customerId}':
    get:
      operationId: backofficeGetAccountNotificationSettings
      parameters:
        - name: accountType
          in: query
          schema:
            type: string
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerNotificationSettings'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/notification-settings/{customerId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.querystring.accountType: method.request.querystring.accountType
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
      tags:
        - backoffice
    put:
      tags:
        - backoffice
      operationId: backofficePutNotificationSettingsCustomerId
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerNotificationSettings'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/backoffice/notification-settings/{customerId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
    post:
      tags:
        - backoffice
      operationId: backofficePostNotificationSettingsCustomerId
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerNotificationSettings'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/backoffice/notification-settings/{customerId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/withdrawal-limits/{accountId}':
    get:
      tags:
        - backoffice
      operationId: backofficeGetWithdrawalLimits
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalLimits'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/withdrawal-limits/{accountId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
    patch:
      tags:
        - backoffice
      operationId: backofficePatchWithdrawalLimits
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalLimits'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PATCH
        uri: 'https://${stageVariables.albUrl}/account/backoffice/withdrawal-limits/{accountId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/new:
    post:
      operationId: createAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRequest'
        required: true
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfError'
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/client/new'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/all:
    get:
      operationId: getAllCustomerAccounts
      parameters:
        - name: includePendingAccounts
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfAccountResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/all'
        requestParameters:
          integration.request.querystring.includePendingAccounts: method.request.querystring.includePendingAccounts
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  /client/add:
    post:
      operationId: addNewAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAccountRequest'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/client/add'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  /backoffice/add-new-account:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''POST,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
      operationId: backofficeAddAccountOption
    post:
      operationId: backofficeAddNewAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAccountRequest'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/backoffice/add-new-account'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
      tags:
        - backoffice
      description: ''
    parameters: []
  /backoffice/webhook/oncreate:
    post:
      operationId: webhookOnCreateAccount
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/backoffice/webhook/oncreate'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/customers/{customerId}/id-picture':
    options:
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    get:
      tags:
        - backoffice
      operationId: getIDPicturesBackoffice
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDPicture'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/customers/{customerId}/id-picture'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/customers/{customerId}/onboarding-profile':
    options:
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    get:
      tags:
        - backoffice
      operationId: getCustomerBackofficeOnboardingProfile
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingProfile'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/customers/{customerId}/onboarding-profile'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/customers/{customerId}':
    options:
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    get:
      tags:
        - backoffice
      operationId: backOfficeGetCustomerDetails
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDetailResponse'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/customers/{customerId}'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.customerId: method.request.path.customerId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/backoffice/passbase/identities/{identityId}/resources':
    get:
      tags:
        - backoffice
      operationId: backofficePassbaseGetResourcesByIdenityID
      parameters:
        - name: identityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/passbase/identities/{identityId}/resources'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.identityId: method.request.path.identityId
        passthroughBehavior: when_no_match
        type: http_proxy
  '/client/{accountId}/selfie':
    put:
      operationId: updateCustomerSelfie
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SelfieStep'
        required: true
      responses:
        '200':
          description: 200 response
          content: {}
        '400':
          description: 400 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/{accountId}/selfie'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
  /client/step/submitted-data:
    get:
      operationId: getStepwiseAccountCreationData
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCreationStepData'
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/client/step/submitted-data'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
  '/client/deactivate/{accountId}':
    put:
      operationId: deactivateAccount
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          content: {}
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/client/{accountId}/deactivate'
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.accountId: method.request.path.accountId
        passthroughBehavior: when_no_match
        type: http_proxy
    options:
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''PUT,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  /backoffice/cheques/booklets:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''POST,GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    get:
      summary: ''
      tags:
        - backoffice
      responses:
        '200':
          $ref: '#/components/responses/PaginatedChequeBooklets'
      operationId: backofficeGetChequeBooklets
      description: Get list of all cheque booklets
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/cheques/booklets'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
      parameters:
        - schema:
            type: string
          in: query
          name: cursor
        - schema:
            type: integer
            maximum: 500
          in: query
          name: limit
          description: number of records to retrieve
    post:
      summary: ''
      operationId: backofficeCreateChequeBooklet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChequeBookletResponse'
      description: Add new cheque booklet request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChequeBookletRequest'
      x-amazon-apigateway-integration:
        httpMethod: POST
        uri: 'https://${stageVariables.albUrl}/account/backoffice/cheques/booklets'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        type: http_proxy
      tags:
        - backoffice
  '/backoffice/cheques/booklets/{bookletId}':
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''PUT,GET,DELETE,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    delete:
      summary: ''
      tags:
        - backoffice
      operationId: deleteChequeBooklet
      description: Delete a cheque booklet
      x-amazon-apigateway-integration:
        httpMethod: DELETE
        uri: 'https://${stageVariables.albUrl}/account/backoffice/cheques/booklets/{bookletId}'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.bookletId: method.request.path.bookletId
        type: http_proxy
      responses:
        '200':
          description: OK
    get:
      summary: ''
      tags:
        - backoffice
      operationId: backofficeGetChequeRequest
      description: Retrieve a cheque booklet
      x-amazon-apigateway-integration:
        httpMethod: GET
        uri: 'https://${stageVariables.albUrl}/account/backoffice/cheques/booklets/{bookletId}'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.bookletId: method.request.path.bookletId
        type: http_proxy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChequeBookletResponse'
    put:
      summary: ''
      operationId: backofficeUpdateChequeRequest
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChequeBookletResponse'
      description: Update cheque booklet request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChequeBookletRequest'
        description: ''
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/backoffice/cheques/booklets/{bookletId}'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.bookletId: method.request.path.bookletId
        type: http_proxy
      tags:
        - backoffice
    parameters:
      - schema:
          type: string
        name: bookletId
        in: path
        required: true
  '/backoffice/cheques/booklets/{bookletId}/deliver':
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content: {}
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''PUT,GET,DELETE,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
    put:
      summary: ''
      operationId: backofficeUpdateChequeBookletStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChequeBookletResponse'
      description: Update cheque booklet status
      x-amazon-apigateway-integration:
        httpMethod: PUT
        uri: 'https://${stageVariables.albUrl}/account/backoffice/cheques/booklets/{bookletId}/deliver'
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.bookletId: method.request.path.bookletId
        type: http_proxy
      tags:
        - backoffice
    parameters:
      - schema:
          type: string
        name: bookletId
        in: path
        required: true
components:
  schemas:
    ArrayOfInvestmentRate:
      type: array
      items:
        $ref: '#/components/schemas/InvestmentRate'
    DeclarationStep:
      title: DeclarationStep
      required:
        - accepted
      type: object
      properties:
        accepted:
          type: boolean
    EkycUpgradeAllData:
      title: EkycUpgradeAllData
      type: object
      properties:
        additionalPersonalData:
          $ref: '#/components/schemas/EkycUpgradePersonalDataRequest'
        employmentData:
          $ref: '#/components/schemas/EkycUpgradeEmploymentData'
        spouseData:
          $ref: '#/components/schemas/EkycUpgradeSpouseData'
        nextOfKinData:
          $ref: '#/components/schemas/EkycUpgradeNextOfKinData'
        proofOfIdentificationData:
          $ref: '#/components/schemas/EkycUpgradeProofOfIdentityData'
    ProfileImage:
      type: object
      properties:
        image:
          type: string
          description: Base64 encoding of image
    WithdrawalLimits:
      title: WithdrawalLimits
      required:
        - withdrawalLimitPeriod
      type: object
      properties:
        withdrawalLimitAmount:
          type: number
        withdrawalLimitPeriod:
          type: string
          enum:
            - DAILY
            - WEEKLY
            - MONTHLY
            - YEARLY
    UserBlockingRequest:
      type: object
      title: UserBlockingRequest
      properties:
        reasons:
          type: array
[...]
